[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
flask = "*"
flask-bcrypt = '*'
honcho = "*"

[dev-packages]

[requires]
python_version = "3.8"
